.level-0 {
    > :first-child { width: 100%; }
    > :last-child { width: 0%; }
}

.level-1 {
    > :first-child { width: 50%; }
    > :last-child { width: 50%; }
}

.level-2 {
    > :first-child { width: 30%; }
    > :last-child { width: 70%; }
}