@media (min-width: 768px) {
    .trailer-layout {
        &.level-0 {
            > :first-child { width: 100%; }
            > :last-child { width: 0%; }

            height: 100vh;
        }
        
        &.level-1 {
            > :first-child { width: 50%; }
            > :last-child { width: 50%; }

            .trailer-subview {
                transition: opacity .5s ease-in-out;
                opacity: 1;
            }
        }
        
        &.level-2 {
            > :first-child { width: 20%; }
            > :last-child { width: 80%; }

            .trailer-subview {
                transition: opacity .5s ease-in-out;
                opacity: 0;
            }
        }
    }
}