@media (min-width: 768px) {
    .level-2 .forDescription:not(.active) {
        display: none;
    }

    .level-1 .forDescription {
        display: block;
    }

    .forDescription>p {
        margin-top: 0.5em;
        height: 0.5em;
    }

    .subpage-button {
        width: auto;
        height: 60px;

        display: flex;
    }

    .subpage-button img {
        margin: auto;
    }

    .picto-nav-item:not(#logo):not(.vn) {
        /* width: 100%; */
        height: 100%;

        object-fit: contain;
    }
}