.contact-form {
    width: 90%;
    margin: auto;

    grid-auto-rows: 1fr;
    
    border: 3px solid white;
    border-radius: 20px;

    background-color: rgba(0, 0, 0, 0.555);

    padding: 30px;
    box-sizing: border-box;

    gap: 5%;
}