@media (min-width: 768px) {
    #Showroom {
        margin-top: 120vh;
    }

    #Models {
        margin: 150px 0px 0px 0px;
        grid-template-columns: 30% 40% 30%;
    }

    .Model   {
        width: 100%;
        object-fit: contain;
    }
}