#Models {
    position: relative;

    width: 100%;

    display: grid;

    justify-content: space-around;

}

.Model {
    position: inherit;

    transition: all .5s;

    margin-bottom: 0px;
    margin-top: auto;

    overflow: hidden;

    height: auto;
}

.Model:hover {
    transform-origin: center;

    transform: scale(1.2);
}

.model-with-description {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    align-items: center;
}

.model-with-description > p {
    margin-bottom: 0;
    margin-top: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-header {
    font-size: large;
}