.dark {
    & .upperContainer:not(.transparent) {
        background-color: black;
    }

    & .upperContainer.transparent {
        background-color: transparent;
    }

    & .upperLogoD {
        border-bottom: solid 2px white;
    }
}

.light {
    & .upperContainer:not(.transparent) {
        background-color: white;
    }

    & .upperContainer.transparent {
        background-color: transparent;
    }

    & .upperLogoD {
        border-bottom: solid 2px black;
    }
}

.upperContainer {
    width: 100%;
  
    position: fixed;
    top: 0;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    align-items: center;
  
    z-index: 11;
}
  
.upperLogoD {
    width: 90%;
    height: 100px;

    display: flex;
    flex-direction: row;

    align-self: center;
    align-items: center;
}
  
.hide-upperLogoD > .upperLogoD {
    display: none;
}

.upperLogo {
    max-height: 100%;
    object-fit: contain;
}

#upperLogoLink {
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}