@use 'src/common/colors';

.dark {
    & .upperContainer:not(.transparent) {
        background-color: black;
    }

    & .upperContainer.transparent {
        background-color: transparent;
    }

    & .upperLogoD {
        border-bottom: solid 2px white;
    }

    & .nav-item {
        color: white;

        &:hover {
            color: colors.$dark-theme-secondary;
        }
    }

    & .drop-item {
        color: white;

        &:hover {
            color: colors.$dark-theme-secondary;
        }
    }

    & .drop-content {
        border-left-color: white;
    }
}

.light {
    & .upperContainer:not(.transparent) {
        background-color: white;
    }

    & .upperContainer.transparent {
        background-color: transparent;
    }

    & .upperLogoD {
        border-bottom: solid 2px black;
    }

    & .nav-item {
        color: colors.$light-theme-secondary;

        &:hover {
            color: colors.$light-theme-secondary;
        }
    }

    & .drop-item {
        color: colors.$light-theme-secondary;

        &:hover {
            color: colors.$light-theme-secondary;
        }
    }

    & .drop-content {
        border-left-color: colors.$light-theme-secondary;
    }
}

.upperContainer {
    width: 100%;
  
    position: fixed;
    top: 0;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    align-items: center;
  
    z-index: 11;
}
  
.upperLogoD {
    width: 90%;
    height: 100px;

    display: flex;
    flex-direction: row;

    align-self: center;
    align-items: center;
}
  
.hide-upperLogoD > .upperLogoD {
    display: none;
}

.upperLogo {
    max-height: 100%;
    object-fit: contain;
}

#upperLogoLink {
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

// From Mobile

.navbar {
    align-items: center;
    & * { text-align: center; }
}

.nav-item {
    text-decoration: none;
    margin: 20px;
}

.nav-dropdown {
    display: flex;
    justify-content: center;

    .desktop-nav-vertical & {
        flex-direction: column;
        align-items: center;
    }

    .desktop-nav-horisontal & {
        flex-direction: row;
        align-items: flex-start;
    }

    margin: 0;
}

.drop-item {
    margin: -4px 0 15px 0px;
    text-decoration: none;
}

.drop-content {
    /* position: absolute; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-left-width: 2px;
    border-left-style: solid;

    padding-left: 5px;

    transition: height .5s ease;

    overflow: hidden;
}

#drop-what {
    white-space: nowrap;
    overflow: visible;

    cursor: pointer;
}


.desktop-nav-vertical.nav-closed {
    width: 0;
    overflow-x: hidden;
}

.desktop-nav-vertical.nav-opened { 
    width: 50vw; 
}

.desktop-nav-vertical.nav-opened {
    .light & {
        border-right: 1px solid var(--blue);
        background-color: white;
    }

    .dark & {
        border-right: 1px solid var(--orange);
        background-color: var(--grey);
    }
}

.hamburgerD {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    height: 100px;
    width: 100px;

    z-index: 2;
    transition: 500ms all ease;
}

.hamburgerD-closed {
    left: 0;
}

#hamburger {
    height: 1.5em;
    width: auto;

    object-fit: cover;
}

.navbar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1000;

    &.opened {
        background-color: #5e5e5e70;
        width: 100vw;
        transition: background-color 700ms ease;
    }

    &.closed {
        background-color: #5e5e5e00;
        width: 0;
        transition: background-color 700ms ease, width 700ms ease 700ms;
    }
}