@media (min-width: 768px) {
    .navbar {
        position: relative;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        font-size: 1.1em;

        width: 90%;

        background-color: rgba(105, 105, 105, 0.5);
    }

    .upperLogo {
        height: 100px;
    }

    #upperName {
        height: 35px;

        margin-right: 0;
        margin-left: auto;
    }
}