@media (max-width: 768px) {
    .navbar {
        position: fixed;
        left: 0;
        top: 0;

        transition: .5s;

        padding-top: 100px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        font-size: 1.1em;

        height: calc( 100vh - 100px );
    }

    .upperContainer {
        width: 100vw;
    }

    .upperLogoD {
        justify-content: flex-end;
    }
    
    #upperLogo {
        height: 80%;

        margin-right: -10px;
    }

    .mobile-nav-closed {
        width: 0;
        overflow-x: hidden;
    }

    .mobile-nav-opened { 
        width: 50vw; 
    }

    .mobile-nav-opened {
        .light & {
            border-right: 1px solid var(--blue);
            background-color: var(--grey);
        }

        .dark & {
            border-right: 1px solid var(--orange);
            background-color: var(--grey);
        }
    }

    .hamburgerD {
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;

        align-items: center;

        height: 100px;
        width: 100px;

        z-index: 100;
    }

    .hamburgerD-closed {
        left: 0;
        transition: 500ms left ease;
    }

    .hamburgerD-opened {
        left: calc(25vw - 50px);
        transition: 500ms left ease;
    }

    #hamburger {
        height: 1.5em;
        width: auto;

        object-fit: cover;

        margin-left: -10px;
    }

    .navbar-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        height: 100vh;
        width: 100vw;

        position: fixed;
        top: 0;
        left: 0;

        z-index: 1000;

        &.opened {
            background-color: #5e5e5e70;
            width: 100vw;
            transition: background-color 700ms ease;
        }

        &.closed {
            background-color: #5e5e5e00;
            width: 0;
            transition: background-color 700ms ease, width 700ms ease 700ms;
        }
    }
}