@use 'src/common/colors';

#main-navbar * { text-align: center; }
.pointerCursor { cursor: pointer; }
#main-navbar .drop-item:hover { color: colors.$dark-theme-secondary; }
#main-navbar .nav-item:hover { color: colors.$dark-theme-secondary }

.nav-dropdown-opened {
    height: calc(5 * (1.1em) + 50px);
}

.nav-dropdown-closed {
    height: 0;
}