@media (min-width: 768px) {
    #main-navbar .upperLogoD { justify-content: flex-start; }
    #main-navbar #upperLogo { height: 100px; }

    #main-navbar.navbar {
        position: relative;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        font-size: 1.1em;

        width: 90vw;

        background-color: rgba(105, 105, 105, 0.5);
    }

    #main-navbar.opened {
        height: calc(5 * (-4px + 1em + 15px) - 5px );
        margin-bottom: 25px;
    } /* Trochę hardcoded, ale działa */
}