@media (min-width: 768px) {
    .trailer-subview {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .textSpan {
        text-align: start;

        img {
            width: min-content;
            max-width: 300px;
        }

        &> p {
            text-align: start;
        }
    }
}