@media (min-width: 768px) {
    .trailer-subview {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        margin-top: 130px;
    }

    .textSpan {
        text-align: start;

        img {
            // width: min-content;
            max-width: 300px;
        }

        &> p {
            text-align: start;
        }
    }
}