.trailer-subview {
    width: 100%;

    * {text-align: start;}
}

.h3 {
    color: var(--orange);
    font-size: 2em;
}

.textSpan {
    font-size: 1.2em;
}

.floatingParagraph {
    margin-left: 15px;
}